# Files and directories with the attribute export-ignore won't be added to archive files
# (such as zips/tarballs in GitHub Releases)
# Some of the tests are edge cases that would crash older versions of Phan or other static analyzers, which is why they're included.
/.appveyor.yml     export-ignore
/ci                export-ignore
/.dockerignore     export-ignore
/.editorconfig     export-ignore
/.gitattributes    export-ignore
/.github           export-ignore
/.gitignore        export-ignore
/.phan             export-ignore
/phpcs.xml         export-ignore
/phpunit.xml       export-ignore
/tests             export-ignore
